<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-8">
	<div class="flex items-center w-full">
		<div class="mr-5 w-full flex gap-5">
			<div
				class="cursor-pointer font-bold w-12 h-12 bg-gray-300 flex justify-center items-center rounded-full"
			>
				RO
			</div>

			<div class="flex-1">
				<textarea
					[(ngModel)]="tweetMessage"
					(input)="changeTweet()"
					[maxlength]="tweetMaxLength"
					class="mb-2 bg-gray-200 focus:outline-none focus:bg-gray-100 border border-transparent rounded-lg py-2 px-4 block w-full appearance-none leading-normal resize-none font-light placeholder:text-gray-700"
					placeholder="What's happening..."
				></textarea>

				<div class="w-auto border rounded-lg"></div>

				<div class="flex justify-end items-baseline">
					<div class="mr-5 font-thin text-gray-500">
						<p>{{ tweetRemain }}</p>
					</div>

					<div class="mt-5">
						<button
							(click)="sendTweet()"
							type="button"
							class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg bg-blue-500 hover:bg-blue-600 font-medium text-white shadow text-center"
						>
							Tweet
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
